form {
  margin-top:20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: #AB4AFF;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.box-title {
  padding-top: 20px;
}

.box-title_2 {
  padding-top: 50px;
}

table {
  margin-top: 15px;
}
