* {
  word-spacing: normal;
	white-space: normal;
}

/* hmtl, body {
  height: 100%;
  width: 100%;
} */
html{
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  body {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    background-image: url('https://www.contaexata1.com.br/img/home_background_01.jpg');
    background-blend-mode: soft-light;
    background-size: cover;
    /* padding: 100px 0; */
  }
}

/* @media screen and (max-height: 768px) {
  body {
    /* box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    background-image: url('https://www.contaexata1.com.br/img/home_background_01.jpg');
    background-blend-mode: soft-light;
    background-size: cover;
    padding: 20px 0;
  }
} */

@media screen and (max-width: 4000px) {
  body {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    background-image: url('https://www.contaexata1.com.br/img/home_background_01.jpg');
    background-blend-mode: soft-light;
    background-size: cover;
    padding: 77px 0;
  }
}

.login-logo, .login-box-msg, .btn {
  font-family: 'Montserrat', sans-serif;
}

.login-logo {
  margin-bottom: 30px;
  font-weight: bold;
}

.login-box-body:hover {
  border: thin solid rgba(60, 141, 188, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
}

.login-box-msg {
  margin: 10px 0px;
}

div > input {
  margin-bottom: 15px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  /* transition: all .3s ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; */
}
