<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>I</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Projeto</b> Integrador</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <li>
          <a href="bem">
            <i class="fa fa-barcode"></i> <span>Cadastrar Bem</span>
          </a>
        </li>
        <li>
          <a href="baixa">
            <i class="fa fa-arrow-circle-down"></i> <span>Baixar Bem</span>
          </a>
        </li>
        <li>
          <a href="lista-bens">
            <i class="fa fa-table"></i> <span>Lista de Bens</span>
          </a>
        </li>

      </ul>

    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <router-outlet>


      <section class="col-sm-12 col-12 content">

        <div class="col-sm-12 col-12 container">
          <div class="row">
            <div class="col col-sm-4">
              <form>

                <div>
                  <label for="bem">Bem :</label>
                  <select name="bem" [(ngModel)]="bem.id" class="form-control">
                    <option *ngFor="let a of bems" value="{{a.id}}">{{a.nome}}</option>
                  </select>
                </div>
                <div>
                  <label for="tipo">Tipo :</label>
                  <select name="tipo" [(ngModel)]="tipo.id" class="form-control">
                    <option *ngFor="let a of tipos" value="{{a.id}}">{{a.nome}}</option>
                  </select>
                </div>
                <div>
                  <label for="valorVenda">Valor de venda:</label>
                  <input type="number" [(ngModel)]="baixa.valorVenda" name="valorVenda" class="form-control" placeholder="Ex.: 10.000 (R$)"/>
                </div>

                <div>
                  <label for="dataBaixa">Data da baixa:</label>
                  <input type="date" [(ngModel)]="baixa.dataBaixa" name="dataBaixa" class="form-control" required="required" maxlength="10"
                  pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2000-01-01" max="2050-01-01"/>
                </div>

                </form>

            </div>

            <div class="col col-sm-4">
              <form>
                <div>
                  <label for="nomeBem" id="labelNomeBem">Nome do bem selecionado :</label>
                  <input type="text" name="nomeBem" id="nomeBem" class="form-control" value="{{bem?.nome}}" readonly>
                </div>
                <div>
                  <label for="vidaUtil">Vida útil do bem :</label>
                  <input type="text" name="vidaUtil" class="form-control" value="{{bem?.vidaUtil}}" readonly />
                </div>
                <div>
                  <label for="valorResidual">Valor residual :</label>
                  <input type="text" name="valorResidual" class="form-control" value="{{bem?.valorResidual}}" readonly />
                </div>
                <div>
                  <label for="precoAquisicao">Preço de aquisição :</label>
                  <input type="number" name="precoAquisicao" class="form-control" value="{{bem?.precoAquisicao}}"
                    readonly />
                </div>
                <div>
                  <label for="dataAquisicao">Data da aquisição :</label>
                  <input type="date" name="dataAquisicao" class="form-control" value="{{bem?.dataAquisicao}}" readonly />
                </div>
                <div>
                  <label for="usado">Bem é usado? :</label>
                  <br>
                  <input id="form_checkbox" type="checkbox" name="usado" value="{{bem?.usado}}" readonly />
                </div>
                <div>
                  <label for="tempoUso">Tempo de uso :</label>
                  <input type="text" name="tempoUso" class="form-control" value="{{bem?.tempoUso}}" readonly />
                </div>
                <div>
                  <label for="cargaHoraria">Carga horária:</label>
                  <input type="text" name="cargaHoraria" class="form-control" value="{{bem?.cargaHoraria}}" readonly />
                </div>
              </form>
            </div>

            <div class="col col-sm-4">
              <form>
                <div>
                  <label for="tipo" id="labelTipo">Tipo de baixa :</label>
                  <input type="text" name="tipo" id="tipo" class="form-control" value="{{baixa?.tipo?.nome}}" readonly>
                </div>
                <div>
                  <label for="taxa" id="labelTaxa">Taxa :</label>
                  <input type="text" name="taxa" id="taxa" class="form-control" value="{{baixa?.taxa}}" readonly>
                </div>
                <div>
                  <label for="depreciacaoAcumulada" id="labelDepreciacaoAcumulada">Depreciação acumulada :</label>
                  <input type="text" name="depreciacaoAcumulada" class="form-control"
                    value="{{baixa?.depreciacaoAcumulada}}" readonly />
                </div>
                <div>
                  <label for="valorContabil">Valor contabil :</label>
                  <input type="text" name="valorContabil" class="form-control" value="{{baixa?.valorContabil}}"
                    readonly />
                </div>
                <div>
                  <label for="ganhoPerda">Ganho ou Perda :</label>
                  <input type="number" name="ganhoPerda" class="form-control" value="{{baixa?.ganhoPerda}}" readonly />
                </div>
              </form>
            </div>
          </div>

          <div class="botoes_form col-sm-12">
            <div class="col-sm-3">
              <button type="button" (click)="pegarBem()" class="lista_botoes btn btn-block form-control"
                name="pegarBem">Mostrar
                Bem</button>
            </div>
            <div class="col-sm-3">
              <button type="button" (click)="simularBaixa()" class="lista_botoes btn btn-block form-control"
                name="simularBaixa">Simular Baixa</button>
            </div>
            <div class="col-sm-3">
              <button type="button" (click)="saveBaixa();" class="lista_botoes btn btn-block form-control"
                name="Vender">Executar
                Baixa</button>
            </div>
          </div>

          <div class="row">
          </div>

          <div>
            <h3 class="box-title tabela_baixados">Bens baixados :</h3>
            <table class="tabela_baixa table table-bordered table-hover dataTable col-xs-12">
              <tr>
                <th>Nome</th>
                <th>Vida útil</th>
                <th>Valor residual</th>
                <th>Preço aquisição</th>
                <th>Data aquisição</th>
                <th>Imóvel</th>
                <th>Usado</th>
                <th>Carga horária</th>
                <th>Tipo</th>
                <th>Depreciação acumulada</th>
                <th>Valor contábil</th>
                <th>Ganho / Perda</th>
              </tr>

              <tr *ngFor="let a of baixas">
                <td>{{a.bem.nome}}</td>
                <td>{{a.bem.vidaUtil}}</td>
                <td>{{a.bem.valorResidual}}</td>
                <td>{{a.bem.precoAquisicao}}</td>
                <td>{{a.bem.dataAquisicao}}</td>
                <td>{{a.bem.imovel}}</td>
                <td>{{a.bem.usado}}</td>
                <td>{{a.bem.cargaHoraria}}</td>
                <td>{{a.tipo.nome}}</td>
                <td>{{a.depreciacaoAcumulada}}</td>
                <td>{{a.valorContabil}}</td>
                <td>{{a.ganhoPerda}}</td>
                <td>
                  <button type="button" (click)="delete(a);" class="botao_excluir btn btn-block">X</button>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </section>


    </router-outlet>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://github.com/Done-Ribeiro" target="_blank">Done Ribeiro</a>.</strong>
    All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Aniversário do Fundador</h4>

                <p>Seu aniversário é em 8 de Novembro</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Done criou esse site</h4>

                <p>Fone (62) 9-1234-5678</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Mande um e-mail</h4>

                <p>www.done_@hotmail.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Mais de 5 projetos</h4>

                <p>Executados com excelência</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </aside>

  <div class="control-sidebar-bg"></div>
