body {
  overflow-x: hidden;
  overflow-y: auto;
}

form {
  margin-top:20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

.pull-right {
  float: right!important;
}

#botao_enviar {
  background-color: #AB4AFF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top:50px;
  position: relative;
  left: 80%;
}

#label_situacao_do_bem {
  margin-right: 10px;
}

.situacao_do_bem {
  margin-right: 2px;
}
