<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>I</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Projeto</b> Integrador</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <li>
          <a href="bem">
            <i class="fa fa-barcode"></i> <span>Cadastrar Bem</span>
          </a>
        </li>
        <li>
          <a href="baixa">
            <i class="fa fa-arrow-circle-down"></i> <span>Baixar Bem</span>
          </a>
        </li>
        <li>
          <a href="lista-bens">
            <i class="fa fa-table"></i> <span>Lista de Bens</span>
          </a>
        </li>

      </ul>

    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <router-outlet>

      <form class="col-sm-12">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nome_do_bem">Nome do Bem :</label>
            <input type="text" [(ngModel)]="bem.nome" name="nome" class="form-control" id="nome_do_bem"
              placeholder="Ex.: Automóvel">
          </div>
          <div class="form-group col-md-6">
            <label for="vida_util_bem">Vida útil do bem :</label>
            <input type="text" [(ngModel)]="bem.vidaUtil" name="vidaUtil" class="form-control" id="vida_util_bem"
              placeholder="Ex.: 20 (anos)">
          </div>
          <div class="form-group col-md-6">
            <label for="valor_de_aquisicao">Valor de aquisição :</label>
            <input type="text" [(ngModel)]="bem.precoAquisicao" name="precoAquisicao" class="form-control"
              id="valor_de_aquisicao" placeholder="Ex.: 10.000 (R$)">
          </div>
          <div class="form-group col-md-6">
            <label for="percentual_residual">Percentual residual - % :</label>
            <input type="text" [(ngModel)]="bem.valorResidual" name="valorResidual" class="form-control"
              id="percentual_residual" placeholder="Ex.: 10 (%)">
          </div>
          <div class="form-group col-md-6">
            <label for="estado_do_bem">Estado do bem :</label>
            <select id="estado_do_bem" [(ngModel)]="bem.usado" name="usado" class="form-control"
              onclick="verificaEstadoBem()">
              <option disabled>Escolha o estado do bem</option>
              <option id="estado_do_bem_valor_1" value="false">Novo</option>
              <option id="estado_do_bem_valor_2" value="true">Usado</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="data_da_aquisicao">Data da aquisição :</label>
            <input type="date" [(ngModel)]="bem.dataAquisicao" name="dataAquisicao" class="form-control pull-right"
              id="data_da_aquisicao" required="required" maxlength="10" name="date"
              pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2000-01-01" max="2050-01-01">
          </div>
          <div class="form-group col-md-6">
            <label id="label_turnos_trabalhados_do_bem" for="turnos_trabalhados_do_bem">Turnos trabalhados do bem:</label>
            <select id="turnos_trabalhados_do_bem" [(ngModel)]="bem.cargaHoraria" name="cargaHoraria"
              class="form-control">
              <option disabled>Escolha quantas horas o bem é utilizado ao dia</option>
              <option value="1">8 horas por dia</option>
              <option value="2">16 horas por dia</option>
              <option value="3">24 horas por dia</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="tempo_de_uso_do_bem">Tempo de uso do bem :</label>
            <input type="text" [(ngModel)]="bem.tempoUso" name="tempoUso" class="form-control" id="tempo_de_uso_do_bem"
              placeholder="E.: 2 (anos)">
          </div>

          <div class="form-group col-md-6">
            <input type="submit" (click)="save();" id="botao_enviar" class="btn col-md-4">
          </div>

        </div>
      </form>

      <!-- <div>
        <h3 class="box-title">Bems</h3>
        <table class="table table-bordered table-hover dataTable">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>vidaUtil</th>
                <th>valorResidual</th>
                <th>precoAquisicao</th>
                <th>dataAquisicao</th>
                <th>imovel</th>
                <th>usado</th>
                <th>cargaHoraria</th>
              </tr>

              <tr *ngFor="let a of bems">
                <td>{{a.id}}</td>
                <td>{{a.nome}}</td>
                <td>{{a.vidaUtil}}</td>
                <td>{{a.valorResidual}}</td>
                <td>{{a.precoAquisicao}}</td>
                <td>{{a.dataAquisicao}}</td>
                <td>{{a.imovel}}</td>
                <td>{{a.usado}}</td>
                <td>{{a.cargaHoraria}}</td>

                <td>
                  <button type="button" (click)="delete(a);" class="btn btn-block btn-primary">X</button>
                </td>

              </tr>
        </table>
      </div> -->

    </router-outlet>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://github.com/Done-Ribeiro" target="_blank">Done Ribeiro</a>.</strong>
    All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Aniversário do Fundador</h4>

                <p>Seu aniversário é em 8 de Novembro</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Done criou esse site</h4>

                <p>Fone (62) 9-1234-5678</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Mande um e-mail</h4>

                <p>www.done_@hotmail.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Mais de 5 projetos</h4>

                <p>Executados com excelência</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </aside>

  <div class="control-sidebar-bg"></div>
